.queroDoarSection {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f0f8ff; 
  p {
    font-size: 24px;
    color: #005695; 
    margin: 0 10px;
    text-align: center; 
  }
}

form {
  border: solid 2px #005695;
  border-radius: 20px;
  height: 70vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 

  div {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #005695;
    text-align: center; 
  }

  h2 {
    font-size: 22px;
    margin-top: 10px;
    font-weight: bold;
  }
}

input {
  width: 90%;
  height: 5vh;
  border: solid 2px #005695;
  border-radius: 15px;
  padding-left: 20px;
  font-size: 16px;

  &::placeholder {
    color: #000;
    font-style: italic; 
  }

  &:focus {
    outline: none;
    border-color: #003f72; /* Cor mais escura ao focar */
    box-shadow: 0px 0px 5px rgba(0, 86, 149, 0.5); /* Destaque */
  }
}

.buttonDoar {
  width: 50%;
  height: 8vh;
  font-size: 24px;
  background-color: #005695;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #003f72; /* Efeito ao passar o mouse */
  }

  &:disabled {
    background-color: #cccccc; /* Estado desabilitado */
    cursor: not-allowed; /* Indica que não é clicável */
  }
}

.feedbackMessage {
  margin-top: 15px;
  font-size: 18px;
  color: #005695;
  text-align: center;
}

@media (max-width: 780px) {
  .queroDoarSection {
    height: auto;
    padding: 20px;

    p {
      font-size: 18px;
      text-align: center;
      width: 80%; /* Ajuste de largura */
    }
    img {
      width: 100%;
      height: auto; /* Imagem responsiva */
    }
  }

  form {
    width: 90%;
    font-size: 14px;

    div {
      h2 {
        font-size: 18px; /* Tamanho ajustado para telas menores */
      }
    }
  }

  input {
    font-size: 14px; /* Ajuste para melhor visualização em dispositivos menores */
  }

  .buttonDoar {
    font-size: 18px;
  }
}
