.footerContent {
    background-color: #005695;
    color: white;
    height: 15vh;
    display: flex;
    padding: 0 3%;
    justify-content: space-around;
    align-items: center;
   

    nav{
      width: 20%;
      display: flex;
      justify-content: space-between;
      align-items: center;


    }
    
  }
  .footerFim{
    height: 6vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: #fff;
    }

  }
